$dice-dimension: 100px;
$dice-perspective: $dice-dimension / 2;

app-dice {
  display: inline-block;
  position: relative;
  //perspective: $dice-dimension * 5;
  width: $dice-dimension;
  height: $dice-dimension;
  margin: 20px;
}

.dice-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
  &.selected {
    figure {
      background-color: green;
    }
  }
  figure {
    margin: 0;
    width: $dice-dimension;
    height: $dice-dimension;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 30px;
    color: #FFF;
  }
}

.dice {
  &-side-1 {
    transform: rotateY(0deg) translateZ($dice-perspective);
    .circle:nth-child(1) {
      transform: translate(0, 25px);
    }
  }
  &-side-2 {
    transform: rotateX(180deg) translateZ($dice-perspective);
    .circle:nth-child(1) {
      transform: translate(-15px, 0px);
    }
    .circle:nth-child(2) {
      transform: translate(15px, 58px);
    }
  }
  &-side-3 {
    transform: rotateY(90deg) translateZ($dice-perspective);
    .circle:nth-child(1) {
      transform: translate(0, 2px);
    }
    .circle:nth-child(2) {
      transform: translate(33px, 58px);
    }
    .circle:nth-child(3) {
      transform: translate(-25px, 30px);
    }
  }
  &-side-4 {
    transform: rotateY(-90deg) translateZ($dice-perspective);
    .circle:nth-child(1) {
      transform: translate(0, 2px);
    }
    .circle:nth-child(2) {
      transform: translate(30px, 2px);
    }
    .circle:nth-child(3) {
      transform: translate(-56px, 58px);
    }
    .circle:nth-child(4) {
      transform: translate(30px, 18px);
    }
  }
  &-side-5 {
    transform: rotateX(90deg) translateZ($dice-perspective);
    .circle:nth-child(1) {
      transform: translate(0, 2px);
    }
    .circle:nth-child(2) {
      transform: translate(30px, 2px);
    }
    .circle:nth-child(3) {
      transform: translate(-30px, 30px);
    }
    .circle:nth-child(4) {
      transform: translate(-15px, 23px);
    }
    .circle:nth-child(5) {
      transform: translate(15px, 23px)
    }
  }
  &-side-6 {
    transform: rotateX(-90deg) translateZ($dice-perspective);
    .circle:nth-child(1) {
      transform: translate(0, 0px);
    }
    .circle:nth-child(2) {
      transform: translate(0px, 0px);
    }
    .circle:nth-child(3) {
      transform: translate(0px, 0px);
    }
    .circle:nth-child(4) {
      transform: translate(0px, 10px);
    }
    .circle:nth-child(5) {
      transform: translate(0px, 10px)
    }
    .circle:nth-child(6) {
      transform: translate(0px, 10px)
    }
  }
  &-show-1 {
    transform: translateZ($dice-perspective) rotateY(0deg);
  }
  &-show-2 {
    transform: translateZ($dice-perspective) rotateX(-180deg);
  }
  &-show-3 {
    transform: translateZ($dice-perspective) rotateY(-90deg);
  }
  &-show-4 {
    transform: translateZ($dice-perspective) rotateY(90deg);
  }
  &-show-5 {
    transform: translateZ($dice-perspective) rotateX(-90deg);
  }
  &-show-6 {
    transform: translateZ($dice-perspective) rotateX(90deg);
  }
}

.circle {
  width: 20px;
  height: 20px;
  background: lighten(purple, 10%);
  border-radius: 50%;
  display: inline-block;
}

button {
  position: absolute;
  top: -20px;
}


