:host {
  display: flex;
  flex: 1 1 0;
  //justify-content: space-between;
}

.game-container {
  perspective: 2500px;
  perspective-origin: top;
  display: flex;
  flex-direction: column;
  width: 70%;
}

app-block {
  margin-right: 40px;
}

nav {
  height: 50px;
}
