<app-block></app-block>

<nav>
  <button *ngIf="(selectedDices$ | async).length !== 5 &&  (game$ | async).countRolls !== 3 " type="button"
          (click)="rollDice()">Roll Dice!
  </button>
</nav>
<app-cup></app-cup>


<div>
  <h2>You rolled {{ (game$ | async).countRolls }} times!</h2>
  <nav>
    <button type="button" *ngIf="(selectedDices$ | async).length !== 5" (click)="selectAll()">Select all!</button>
    <button *ngIf="(selectedDices$ | async).length === 5 && isAddedDigit" type="button" (click)="nextRound()">Next
      round
    </button>

    <!--<button *ngIf="digit.isAdded()" (click)="game.nextRound()">-->
    <!--Next Round-->
    <!--</button>-->

    <!--<button (click)="dices.selectAll()">-->
    <!--Select All!-->
    <!--</button>-->

    <!--<button (click)="dices.unSelectAll()">-->
    <!--Unselect All!-->
    <!--</button>-->
  </nav>
  <h2>Round {{ (game$ | async).countRound }}!</h2>
</div>

<app-result-cup></app-result-cup>


