<app-block></app-block>

<div class="game-container">
  <div class="game-conatiner-infos">
    <h2>You rolled {{ (game$ | async).countRolls }} times!</h2>
    <h2>Round {{ (game$ | async).countRound }}!</h2>
  </div>
  <nav>
    <button *ngIf="(selectedDices$ | async).length !== 5 &&  (game$ | async).countRolls !== 3 " type="button"
            (click)="rollDice()">Roll Dice!
    </button>
    <button type="button" *ngIf="(selectedDices$ | async).length !== 5" (click)="selectAll()">Select all!</button>
    <button *ngIf="(selectedDices$ | async).length === 5 && isAddedDigit" type="button" (click)="nextRound()">Next
      round
    </button>
  </nav>
  <app-cup></app-cup>
  <app-result-cup></app-result-cup>
</div>





