@import '../../scss/variables';
@import '../../scss/mixins';

:host {
  color: $black;
  background-color: #fff;
  border: 1px solid $purple-dark;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  justify-content: center;

  @include tablet {
    font-size: 38px;
  }

  @include desktop {
    font-size: 24px;
  }
}

h1, h2 {
  color: $black;
}

form {
  width: 100%;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
